* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* styling for the landing page */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-self: center;
}

.navigation {
  align-self: center;
}

.item {
  margin-top: 7px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
}

.login {
  padding: 10px 15px;
  box-shadow: 7px 7px 5px black;
  border-radius: 7px;
  border: 2px solid rgb(14, 14, 14);
}

.signup {
  padding: 10px 15px;
  background-color: #ec8d5f;
  box-shadow: 7px 7px 5px black;
  border-radius: 7px;
  border: 2px solid rgb(14, 14, 14);
}

main .bg {
  background-color: #ae8ec0;
  display: grid;
  grid-template-columns: 1.5fr 1.05fr 2fr;
  align-items: center;
  margin: 0 auto;
  width: 89vw;
  height: 85vh;
}

.shuffle, .text {
  width: 90%;
  margin-left: 30px;
}

.wiggly {
  width: 100%;
}

.fourpack {
  display: grid;
  /* width: 400px; */
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  margin-right: 100px;
  margin-bottom: 50px;
}

.deco1{
  align-self: flex-end;
}

.deco1, .toyin{
  display: flex;
  justify-self: right;
}

/* .deco1{
  width:  ;
} */

.browse {
  width: 79vw;
  margin: 42px auto;
  /* height: 75vh; */
}

.browse-text {
  font-size: 23px;
  margin-bottom: 30px;
}

.browse-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.browse-img {
  width: 180px;
}

.category,
.description {
  display: flex;
  justify-content: center;
}

.category {
  font-weight: 700;
}

.description {
  font-size: 14px;
  color: grey;
}

/* styling for the login and sign up page */

.login-page {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.login-img {
  height: 100vh;
}

.form-div {
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form {
  width: 100%;
}

.eventvet {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 30.24px;
  color: #ae8ec0;
  padding: 15px 0px;
  margin: 15px 0px;
}

.space,
.sbtn {
  width: 95%;
  margin-bottom: 20px;
}

.space {
  height: 25px;
  padding: 4px;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
  margin-bottom: 20px;
}

.keeploggedin {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.sbtn-div {
  display: flex;
  justify-content: center;
}

.sbtn {
  width: 80%;
  background-color: #ae8ec0;
  padding: 7px;
  border: none;
  border-radius: 4px;
}

.create {
  text-align: center;
}

.create a {
  color: #f4bfa5;
  margin-left: 5px;
}

.span {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}

.line {
  width: 50%;
  margin-top: 12px;
  border-top: 2px solid grey;
}

.or {
  width: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 60px;
}

.buttons button {
  display: grid;
  border-radius: 10px 10px 10px;
  grid-template-columns: 3fr 7fr;
}

/* .buttons button img {
  text-align: justify;
} */

.img-div {
  height: 60px;
  align-self: center;
}

.signin {
  /* justify-content: center; */
  align-self: center;
}

/* .buttons div{
  height: 60px;
} */

/* .login-img-div {
  height: 100vh;
} */

/* Signup styling */
.signup-img-div {
  width: 45vw;
  height: 100vh;
  background-image: url("../images/login.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  gap: 50px;
  flex-direction: column;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 36px;
  color: white;
}

.paragraphs p {
  line-height: 45.36px;
}

.signup-img {
  width: 300px;
}
