* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* styling for the landing page */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-self: center;
}

.navigation {
  align-self: center;
}

.item {
  margin-top: 7px;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.navigation ul li {
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
}

.login {
  padding: 10px 15px;
  box-shadow: 7px 7px 5px black;
  border-radius: 7px;
  border: 2px solid rgb(14, 14, 14);
}

.signup {
  padding: 10px 15px;
  background-color: #ec8d5f;
  box-shadow: 7px 7px 5px black;
  border-radius: 7px;
  border: 2px solid rgb(14, 14, 14);
}

main .bg {
  background-color: #ae8ec0;
  display: grid;
  grid-template-columns: 1.5fr 1.05fr 2fr;
  align-items: center;
  margin: 0 auto;
  width: 89vw;
  height: 85vh;
}

.shuffle, .text {
  width: 90%;
  margin-left: 30px;
}

.wiggly {
  width: 100%;
}

.fourpack {
  display: grid;
  /* width: 400px; */
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  margin-right: 100px;
  margin-bottom: 50px;
}

.deco1{
  align-self: flex-end;
}

.deco1, .toyin{
  display: flex;
  justify-self: right;
}

/* .deco1{
  width:  ;
} */

.browse {
  width: 79vw;
  margin: 42px auto;
  /* height: 75vh; */
}

.browse-text {
  font-size: 23px;
  margin-bottom: 30px;
}

.browse-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.browse-img {
  width: 180px;
}

.category,
.description {
  display: flex;
  justify-content: center;
}

.category {
  font-weight: 700;
}

.description {
  font-size: 14px;
  color: grey;
}

/* styling for the login and sign up page */

.login-page {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.login-img {
  height: 100vh;
}

.form-div {
  width: 30vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form {
  width: 100%;
}

.eventvet {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 30.24px;
  color: #ae8ec0;
  padding: 15px 0px;
  margin: 15px 0px;
}

.space,
.sbtn {
  width: 95%;
  margin-bottom: 20px;
}

.space {
  height: 25px;
  padding: 4px;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.16px;
  margin-bottom: 20px;
}

.keeploggedin {
  display: flex;
  gap: 7px;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.sbtn-div {
  display: flex;
  justify-content: center;
}

.sbtn {
  width: 80%;
  background-color: #ae8ec0;
  padding: 7px;
  border: none;
  border-radius: 4px;
}

.create {
  text-align: center;
}

.create a {
  color: #f4bfa5;
  margin-left: 5px;
}

.span {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}

.line {
  width: 50%;
  margin-top: 12px;
  border-top: 2px solid grey;
}

.or {
  width: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 60px;
}

.buttons button {
  display: grid;
  border-radius: 10px 10px 10px;
  grid-template-columns: 3fr 7fr;
}

/* .buttons button img {
  text-align: justify;
} */

.img-div {
  height: 60px;
  align-self: center;
}

.signin {
  /* justify-content: center; */
  align-self: center;
}

/* .buttons div{
  height: 60px;
} */

/* .login-img-div {
  height: 100vh;
} */

/* Signup styling */
.signup-img-div {
  width: 45vw;
  height: 100vh;
  background-image: url("../images/login.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  gap: 50px;
  flex-direction: column;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 36px;
  color: white;
}

.paragraphs p {
  line-height: 45.36px;
}

.signup-img {
  width: 300px;
}

.buildteam {
  background-color: #C3DDB6;
  width: 90%;
  /* height: 100vh; */
  margin: 42px auto;
}

.TextAdvert {
  display: flex;
  justify-content: center;
}

.center {
  text-align: justify;
}

.center::after {
  content: ''; 
  display: inline-block; 
  width: 100%; 
}

.headfeature {
  font-size: 30px;
}

.purple {
  color: #ae8ec0;
}

.fonts {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
}


.featurelist1_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  
}

.featurelist2_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.featurelist3_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.listedfeatures1 p {
  color: dimgray;
}

.listedfeatures2 p {
  color: dimgray;
}

.listedfeatures3 p {
  color: dimgray;
}

.photoimage-wrapper {
  display: flex;
  margin-top: 5px;
  background-color: #EEECFF;
}

.view {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700px;
  margin-top: 50px;
  cursor: pointer;
  color: #2e2f35
}

.paragraph-button {
  margin-top: 250px;
  margin-left: 180px;
}

.paragraph-button p {
  color: dimgray;
}

.get-started {
    border-radius: 8px 0 8px 0px; 
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #EC8D5F;
    color: white;
    border: #2e2f35;
    outline: #2e2f35;
    cursor: pointer;
  }

  .getstarted  {
    display: flex;
    justify-content: space-between;
  }

  .crs_wrapper {
    /* background-color: #C3DDB6; */
    width: 90%;
    /* height: 100vh; */
    margin: 42px auto;
  }

  .choiceevent-wrapper {
    text-align: center;
  }

  .colortext {
    font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
  color: #ae8ec0;
  }

  .mybudget {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

  .GList {
    margin-left: 50px;
  }

  .recently {
    text-align: center;
    margin-top: 50px;
  }

  .Albumevents-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }

  .Testimonial-wrapper {
    
    width: 90%;
    margin: 42px auto;
  }

  #grad {
    /* height: 200px; */
    background-color: #ae8ec0; 
    background-image: linear-gradient(#ddb337, #51206d);
  }

  .LtrustedArrow {
    display: flex;
  }

  .Arrows {
    margin-left: 650px;
    margin-top: 200px;
  }

  .arrows {
    margin-left: 20px;
  }

  .LTrusted {
    font-family: Inter;
    font-size: 121px;
    font-weight: 400;
    /* line-height: 115.2px; */
    letter-spacing: -5px;
    text-align: left;
    margin-left: 20px;

  }

  .forwardbackward {
    margin-right: 95px;
    justify-content: left;
  }

  .text-wrapper {
    display: flex;
    color: #ffffffde;
    margin-left: 20px;
    
  }

  .testimonierprofile {
    display: flex;
    margin-top: 100px;
    margin-right: 0px;
    align-items: self-start;
    align-content: end;
    margin: auto 5px;
    float: left;
    width: 150px;
    /* height: 38px; */
  }

  .profile1 {
    margin: auto 5px;
    /* float: left; */
    position: absolute;
    left: 90px;
  
  
  }

.ImMAp {
  display: flex;
  margin-right: 50px;
}

  .SD1 {
    font-size: 19px;
    /* line-height: 26px; */
    margin-top: 0px;
    color: #ffffffde;
  }

  .SD2 {
    font-size: 15px;
    line-height: 20.8px;
    color: #ffffff9c;
    margin-bottom: 30px;
  }



  .NaImg {
    /* margin-left: 15px; */
    /* margin-top: 20px; */
    position: absolute;
    left: 170px;
  }
